parameters:
    level: 10
    ignoreErrors:
        -
            identifier: method.alreadyNarrowedType
        -
            identifier: method.impossibleType
    paths:
        - src
        - tests
    bootstrapFiles:
        - tools/phpunit.phar
