<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnAllIssues="true"
         failOnAllIssues="true"
         colors="true">
    <testsuites>
        <testsuite name="unit/framework">
            <directory>tests/unit/framework</directory>
        </testsuite>

        <testsuite name="unit/domain">
            <directory>tests/unit/domain</directory>
        </testsuite>

        <testsuite name="unit/application">
            <directory>tests/unit/application</directory>
        </testsuite>

        <testsuite name="integration/framework">
            <directory>tests/integration/framework</directory>
        </testsuite>

        <testsuite name="integration/application">
            <directory>tests/integration/application</directory>
        </testsuite>

        <testsuite name="edge-to-edge">
            <directory>tests/edge-to-edge</directory>
        </testsuite>

        <testsuite name="end-to-end">
            <directory>tests/end-to-end</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <file>src/autoload.php</file>
        </exclude>
    </source>

    <php>
        <const name="TEST_WEB_SERVER_BASE_URL" value="http://127.0.0.1:8080"/>
    </php>
</phpunit>
